<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855408017871-v388kuuli5ehdguefbdobv2fjjrd5q4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855408017871-v388kuuli5ehdguefbdobv2fjjrd5q4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCOv5mHnFIp9m2JFUFMp2NrEs8wKZ7Drx0</string>
	<key>GCM_SENDER_ID</key>
	<string>855408017871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orangehousepalisade.app</string>
	<key>PROJECT_ID</key>
	<string>palisadewinefinder</string>
	<key>STORAGE_BUCKET</key>
	<string>palisadewinefinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855408017871:ios:08bbe16ecaa0980d9112ba</string>
	<key>DATABASE_URL</key>
	<string>https://palisadewinefinder.firebaseio.com</string>
</dict>
</plist>